user-data-dir/
pnacl/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# NaCl SDK
dir.stamp
*.deps
*.map
*.nexe
*.pexe
*.nmf
*.bc

# Jetbrains IDEs
*.idea/

# Visual Studio
*.vs/
