.mdl-layout__header-row {
    color: #fff;
}
.mdl-button {
    color: #fff !important;
}
.mdl-grid {
    width: 100%;
}
.mdl-cell {
    background:#44c763;
    text-align: center;
    color:#fff;
    padding:25px;
} 
#backIcon {
    height: 32px;
    width: 32px;
    margin-left: -20px;
    padding-right: 20px;
}
.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 400px; 
}
.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem; 
}
.mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0,0,0, 0.54); 
}
#naclSpinner {
    display: none;
    z-index: 2;
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}
#loadingSpinner {
    display: none;
    z-index: 1;
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;
    text-align: center;
}
#snackButton {
    width: 0px;
    height: 0px;
    display: none;
}
.mdl-snackbar__text {
    padding: 14px 30px 14px 30px;
}
.mdl-snackbar {
    min-width:0px;
}
main {
    padding: 50px 100px;
}
#bitrateField {
  text-align: center;
  display: block;
  padding-top: 15px;
}
#hostSettings {
    padding: 5px 10px;
    border: 1px dashed;
    margin: 10px 0;
}
#hostSettings p {
    margin: 0;
}
#hostSettings .mdl-textfield {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 0px;
}
#hostSettings #GFEHostIPField {
    padding-bottom: 0px;
}
#hostSettings #selectHost {
    padding: 0px;
    line-height: 20px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    background: none;
}
#hostSettings .button-holder {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#pairButton {
    margin: 3px;
}
#showAppsButton {
    margin: 3px;
}
#listener {
    overflow: hidden;
    margin-top: 0px;
    height: 0px;
}
.fullscreen {
    height: 100vh !important;
    overflow: none !important;
    margin: auto !important;
    padding: 0 !important;
    width 100%;
    border: none !important;
}
.box-art {
    background-color: transparent;;
}
.box-art > img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.current-game {
    border: 3px solid green;
}
.not-current-game {
  border: 1px solid black;
}
.game-title {
    color: #000;
    font-weight: bold;
}
.host-cell {
    display: inline-block;
    width: 150px !important;
    height: 150px !important;
    background-color: #000;
}
.host-cell img {
    width: 80px;;
    margin-bottom: 10px;
}
